body{
  background-color: #000;
  overflow: hidden;
}

main::after{
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 80vw;
  background-color: linear-gradient(-233deg, #000 40%, rgba(0,0,0,0) 65%) no-repeat;
}

main .character{
  display: none;
  height: 100vh;
}

main .character.selected{
  display: block;
}

main .character .background{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content{
  position: absolute;
  top: 0;
  left: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  max-width: 380px;
  z-index: 1;
}

.content .vocationName{
  color: #fff;
  font-size: 48px;
  font-family: "MedievalSharp", sans-serif;
  font-weight: 400;
  margin-bottom: 20px;
  width: 700px;
}

.content .description{
  color: #fff;
  font-family: "Rubik", sans-serif;
  line-height: 24px;
}

.content .icon{
  background-image: url("../images/TibiaIcon.png");
  background-size: cover;
  height: 400px;
  width: 400px;
  margin-bottom: 35px;
}


.buttons{
  position: fixed;
  top: 0;
  right: 0;
  min-height: 100vh;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: rgba(0,0,0,0.3);
}

.buttons .button{
  border: none;
  background: none;
  cursor: pointer;
  border-radius: 10%;
  padding: 0px;
  transition: ease-in 0.3s;
}

.buttons .button img{
  border-radius: 0%;
}

.buttons .button.selected{
  transform: scale(1.2);
  box-shadow: 0 0 10px #e2e60c;  
}

.buttons-spell{
  position: absolute;
  top: 0;
  right: 150px;
  min-height: 90vh;
  width: 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
  z-index: 100;
  background-image: none;
}
.buttons-spell .button-spell{
  border: none;
  background: none;
  cursor: pointer;
  border-radius: 10%;
  padding: 0px;
  transition: ease-in 0.3s;
}
.buttons-spell .button-spell.selected{
  transform: scale(1.2);
  box-shadow: 0 0 10px #e2e60c;  
}
.spells{
  margin-top: 30px;
  content: "Spells";
  font-size: 30px;
  font-family: "MedievalSharp", sans-serif;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 60px;
}

.spellDescription{
  display: none;
  flex-wrap: wrap;
  color: #fff;
  font-size: 30px;
  position: absolute;
  width: 40vw;
  height: auto;
  height: 50vh;
  justify-content:center;
  left: 170%;
  background-color: rgba(0,0,0,0.3);
}
.show{
  display: flex;
  flex-wrap: wrap;
  color: #fff;
  font-size: 30px;
  position: absolute;
  width: 40vw;
  height: auto;
  height: 50vh;
  justify-content:center;
  left: 170%;
  background-color: rgba(0,0,0,0.3);
}
.descText{
  margin-top: 20px;
  font-family: "MedievalSharp";
  display: none;
}

.descTextShow{
  margin-top: 20px;
  font-family: "MedievalSharp";
  display: flex;
  transition: ease-in 0.3s;
}